.bg-black{
    background-color: #000;
    
}
.bg-gradient{
    background-image: linear-gradient(to bottom right, #5454D4, black, black);
}

.active, .btn:hover {
    background-color: #666;
    color: white;
  }

button {
    padding: 10px 30px;
    background-color: #5454D4;
    font: condensed 16px roboto;
    color: white;
    border-width: 0px;
}
button:hover {
    color: #5454D4;
    background-color: aliceblue;

}
.white{
    padding: 10px 30px;
    background-color: black;
    font: condensed 16px roboto;
    color: aliceblue;
    border-width: 2px;
    border-color: aliceblue;
}
.white:hover{
    border-width: 2px;
    border-color: aliceblue;
}

.btn-radius {border-radius: 5px;}

.text-services {
    text-align: center; 
    margin-bottom: 1em;
}
.title-services {
    font-size:1.5em; 
    margin: 0.5em 0;
}
.description-services {
    font-size:1.2em;
}

.title {
    color: aliceblue; 
    font-size: 3.5em; 
    font-weight: bold; 
    line-height: 1.2;
}

.card-service {
    color: white;
    text-align: center
}

.target{
    color: aliceblue;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
}
.target:target{
    color: #5454D4;
}

.m-main{
    margin-bottom: 10em;
}
.m-main-text{
    color: aliceblue; 
    margin-top: 7em;
}
.main-text-title{
    font-size: 5em; 
    font-weight: bold; 
    line-height: 1; 
    margin:50px 0
}
.main-text-description{
    font-size: 1.5em;
}

.h-video{
    height: 800px;
}
.mb-portfolio{
    margin-bottom: 1em;
}
.mt-footer{
    margin-top: 15em;
}
.mb-3em{
    margin-bottom: 3em;
}
.mb-5em{
    margin-bottom: 5em;
}
.mb-15em{
    margin-bottom: 15em;
}

.img-revese{
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav {
        display: none;
    }
    .img-revese{
        display: block;
    }
    .img{
        display: none;
    }
    .m-main{
        margin-bottom: 1em;
    }
    .m-main-text{
        margin-top: 2em;
    }
    .main-text-title{
        font-size: 3em;
        margin:30px 0;
    }
    .main-text-description{
        font-size: 1em;
    }
    .title {
        font-size: 2.5em; 
        font-weight: bold; 
        line-height: 1.2;
        text-align: center;
    }
    .h-video{
        height: 360px;
    }
    .mb-3em{
        margin-bottom: 1.5em;
    }
    .mb-5em{
        margin-bottom: 2.5em;
    }
    .card-service {
        margin-top: 3em;
    }
    .mb-portfolio{
        margin-top: 3em;
    }
    .mb-15em{
        margin-bottom: 8em;
    }
    .mt-footer{
        margin-top: 5em;
    }
    .title {
        align-items: center;
        text-align: center;
    }
    .title-services {
        font-size:1.3em; 
    }
    .description-services {
        font-size:1em;
    }
}
